span{
    float: left;
    padding-right: 20px;
}
.clearfix::after{
  content: " ";
  display: block;
  clear: both;
}
#felipe{
font-size: 20px;
color: black;
padding-top: 7px;
font-family: 'Syne Mono', monospace;
}  
#bio, #bio2{
  font-family: 'Syne Mono', monospace;
} 
header{
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  padding: 10px 0px 10px 0px;
}
.topnav {
  overflow: hidden;
  font-family: 'Syne Mono', monospace;
}
#aboutme{
  font-size: 20px;
  color:black;
  font-weight: bolder;
  font-family: 'Syne Mono', monospace;
  padding-top: 7px;
  padding-bottom: 7px;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
body{
background-image: url(Assets/Images/embossed-diamond.png);
}
#maincontainer{
  padding-bottom: 20px;
  
}
footer{
  font-size: 10px;
  color: #f2f2f2;
  /* padding: 10px 0px 10px 0px; */
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  text-align: center;
  padding-top: 7px;
}