body{
    background-image: url(Assets/Images/embossed-diamond.png);
    font-family: 'Fredericka the Great', cursive;

    text-align: center;
     display: block;
 }

#aboutme{
    font-size: 200px;
    text-align: center;
    margin:0;
    padding:0;

}
#portfolio{
    font-size: 200px;
    text-align: center;
    margin:0;
    padding:0;
 }
 #contact{
    font-size: 200px;
    text-align: center;
    margin:0;
    padding:0;
 }
 a {
   color: black;
 }
a:hover {
   color: black;
   display: block;
   text-decoration: none;
 }