body{
    background-image: url(Assets/Images/embossed-diamond.png);
    font-family: 'Syne Mono', monospace;
    text-align: center;
     display: block;
 }
 #felipeferreira{
    font-size: 100px;
 }
#aboutme{
    font-size: 190px;
    margin:0;
    padding:0;

}
#portfolio{
    font-size: 170px;
    margin:0;
    padding:0;
 }
 #contact{
    font-size: 220px;
    margin:0;
    padding:0;
 }
 a {
   color: black;
 }
a:hover {
   color: black;
   display: block;
   text-decoration: none;
 }