#felipe{
    font-size: 20px;
    color: black;
    padding-top: 7px;
    font-family: 'Fredericka the Great', cursive;
    text-decoration: none;

    }   

    a:hover {
      color: black;
      display: block;
      text-decoration: none;
    }
    header{
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
      padding: 10px 0px 10px 0px;
      
    }
    .topnav {
      overflow: hidden;
      font-size:20px;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
      float: right;
      display: block;
      color: black;
      text-align: center;
      text-decoration: none;
      font-family: 'Fredericka the Great', cursive;
      animation:none
    }

    /* Change the color of links on hover */
    .topnav a:hover {
      color: black;
    }
    #portifolio{
      font-size: 20px;
      color: black;
      font-weight: bolder;
      font-family: 'Fredericka the Great', cursive;
      padding-top: 7px;
      padding-bottom: 7px;
    }
    .card{
      width: 18rem;
      height: 23.5rem;
      margin-bottom: 10px;
      font-family: 'Roboto', sans-serif;
    }
    .card a{
      color: #fff;
      background-color: black;
      border-color: black;
      font-family: 'Roboto', sans-serif;
      text-decoration: none;
    }
    .card a:hover{
      text-decoration: none;
      color: #fff;
      background-color: black;
      border-color: black;
      font-family: 'Roboto', sans-serif;
      animation:none
    }
    body{
      background-image: url(Assets/Images/embossed-diamond.png);
    }
    #maincontainer{
      padding-bottom: 20px;
    }
    footer{
          font-size: 10px;
          color: black;
          /* padding: 10px 0px 10px 0px; */
          border-bottom-right-radius: 12px;
          border-bottom-left-radius: 12px;
          text-align: center;
          padding-top: 7px;
        }
    @media screen { 
    .container {
        width: auto;
    }
    }